body {
  background-color: #333333;
}

.word {
  font-size: 24px;
  font-family: Monaco;
  color: #CCCCCC;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
